.list-action-products-btn {
    margin-right: 20px;
    margin-top: 10px;
    justify-content: flex-end;
}
.action-products-btn {
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    padding: 10px;
    color: #fff;
    background-color: #36c590;
    margin-right: 10px;
}


