.customers_content {
    margin-top: 15px;
  }
  .customer-card {
    border: 1px solid #a19b9b;
    border-radius: 10px;
    animation: fade-in-ani 1s;
    background: #fff;
  }
  .customer-card:first-child {
    margin-bottom: 20px;
  }
  .customer-card-heading {
    padding: 12px;
    font-size: 17px;
    background-color: #62b4ff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
  }
  .customer-card-body {
    padding: 10px;
  }
  .customer-card-item {
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .customer-card-item > .customer-card-input {
    width: 100%;
    padding: 5px;
  
    font-size: 14px;
    border-bottom: 1px solid #ccc;
  }
  .customer-card-item > span,
  .timer-choice {
    width: 25%;
  }
  @keyframes fade-in-ani {
    from {
      opacity: 0;
      transform: translate(0, -25%);
    }
    to {
      transform: translate(0, 0%);
      opacity: 1;
    }
  }
  