.div_product {
  position: relative;
  display: flex;
}

.clothes-category-card {
  margin-left: 10px;
  width: 100%;
  /* animation: fade-in-ani 2s; */
}

.product-btn-view-qr {
  width: 100%;
  text-align: center;
}
.product-btn-view-qr-btn {
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  background-color: rgb(3, 169, 244);

  font-size: 16px;
}
/* @keyframes fade-in-ani {
  from {
    opacity: 0;
    transform: translate(0, -25%);
  }
  to {
    transform: translate(0, 0%);
    opacity: 1;
  }
} */
